# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Backup files created by Terraform
*.tf.backup

# Core dumps
*.core

# Terraform variables files
*.tfvars
*.tfvars.json

# Override files (not meant to be versioned)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local Terraform configuration
.terraform/
.terraform.lock.hcl

# Ignore metadata files created by Terraform Cloud
.terraformrc
.terraform.d/

# Ignore sensitive data in shell environment
.envrc
.env
